@{
    Page.Title = string.Format("Razor - {0}", "Exercise 03");
    Layout = "~/_Layout.cshtml";
}

@Html.ValidationSummary()
    <form id="theForm" action="" method="post">
        <div class="row row-cols-2">
            <label> </label>
        </div>

    </form>